* {
    font-family: "Consolas";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #app, #content, #route_container, #content {
    height: 100%;
    position: relative;
}

.route_tab {
    line-height: 2.5;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.route_tab:first-child, #home_route {
    background: rgba(244, 164, 96, 0.7);
}

.route_tab:nth-child(2), #patients_route, #patients_profile_route {
    background: powderblue;
}

.route_tab:nth-child(3), #appointments_route  {
    background: rgba(152, 251, 152, 0.68);
}

.route_tab:nth-child(4),  #settings_route {
    background: lightgray;
}

.route_section {
    padding-left: 1rem;
    height: 92%;
    position: relative;
}
