.patient_appointments_container {
  position: relative;
  height: 100%;
}

.patient_upcoming_apt,
.patient_past_apt {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  overflow: auto;
  overflow-x: hidden;
  height: 100%;
}

.apt_div {
  border: 1px solid black;
  margin-top: 1.5rem;
  background: white;
  padding: 0.5rem;
}

.add_appointment_sidebar {
  width: 15.5rem;
  float: right;
}

.add_appointment_sidebar button,
.add_appointment_sidebar input {
  text-align: center;
  width: 100%;
  height: 2rem;
}

#add_appointment_patient_profile_description {
  width: 100%;
  height: 5rem;
  padding: 0.5rem 0 0 0.5rem;
}
