#lab_container {
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  background: floralwhite;
}

#lab_analysis_container {
  display: inline-block;
  height: 100%;
  width: 35%;
  vertical-align: top;
}

#lab_analysis_list_container {
  display: inline-block;
  width: 80%;
  height: 100%;
  vertical-align: top;
}

#lab_analysis_list_container strong {
  padding-left: 0.3rem;
}

#lab_analysis_div_container {
  padding: 0 0.3rem;
}

#lab_analysis_div {
  font-size: 0.8rem;
  margin-top: 1rem;
}

#lab_analysis_unit_container {
  width: 20%;
  display: inline-block;
  text-align: center;
  height: 100%;
  border-left: 1px solid black;
}

#patient_lab_details_container {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 65%;
}

#patient_lab_columns_container {
  position: relative;
  height: 100%;
}

#patient_lab_column {
  vertical-align: top;
  height: 100%;
  width: 15%;
  text-align: center;
  border-left: 1px solid black;
  float: left;
  clear: right;
}

#patient_lab_column strong,
#lab_analysis_list_container strong,
#lab_analysis_unit_container strong {
  width: 100%;
  border-bottom: 1px solid black;
  display: block;
}

#lab_test_not_exists,
#lab_test_exists {
  height: 1rem;
  margin-top: 1rem;
}

#lab_test_exists {
  background: lightgray;
}

#add_lab_details_btn {
  position: absolute;
  font-size: 3rem;
  border: none;
  outline: none;
  right: 0.5rem;
  background: none;
  top: 0;
}

#add_lab_details_btn:hover {
  color: green;
  cursor: pointer;
}

#add_lab_details_panel_container {
  padding: 0.5rem;
  position: absolute;
  z-index: 5;
  width: 50%;
  height: 80%;
  background: white;
  top: 0;
  left: 25%;
}

#add_lab_details_panel_close_btn {
  position: absolute;
  right: 0.5rem;
  top: 0.3rem;
  font-size: 3rem;
}

#lab_dropdown_container {
  height: 3rem;
  width: 90%;
  margin: auto;
}