#patients_route h3 {
  display: inline-block;
  width: 10rem;
  margin-left: 0.3rem;
}

.patients_list {
  border: 1px solid black;
}

#selected_patient_container {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  padding-left: 1rem;
  font-size: 1.2rem;
  background: floralwhite;
  border: 1px solid black;
}

.patient {
  color: black;
  background: floralwhite;
  line-height: 2rem;
  border-bottom: 1px solid black;
  padding: 0.5rem;
  font-weight: bold;
}

.patient:hover {
  cursor: pointer;
  background: rgb(253, 232, 191);
}

.patient span {
  width: 10rem;
  display: inline-block;
}

#search_patient_input {
  display: block;
  height: 2rem;
  outline: none;
  font-size: 1.3rem;
  text-align: center;
  width: 15rem;
  margin-bottom: 2rem;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  transition: 300ms ease;
}

#search_patient_input:focus {
  width: 30rem;
  transition: 300ms ease;
}

#patients_container {
}

#patients_profile_route {
  padding: 0;
}

#patient_tabs_container {
}

.patient_tab {
  display: inline-block;
  padding: 1rem;
  font-size: 1.3rem;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.active_patient_tab {
  background: floralwhite;
}

.patient_tab:hover {
  cursor: pointer;
  background: floralwhite;
}

.patient_profile_route {
  padding-top: 2rem;
  height: 90%;
  position: relative;
}

#patients_info_container {
  display: inline-block;
  padding: 1rem;
  background: floralwhite;
  border: 1px solid black;
}

#patients_info_container p {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#patients_info_container u {
  font-weight: 600;
  text-decoration: none;
}

#close_patient_tab {
  float: right;
  border: none;
  font-size: 2rem;
}

#close_patient_tab:hover {
  background: none;
  color: red;
}