#medicine_container {
  position: relative;
  display: inline-block;
  width: 65%;
  height: 100%;
}

#parent_medicine_dropdown_container {
  vertical-align: top;
  display: block;
  position: relative;
  width: 70%;
  height: 2rem;
}

#parent_medicine_dose_dropdown_container {
  width: 25%;
  vertical-align: top;
  display: inline-block;
  position: relative;
  height: 2rem;
}


#medicine_dropdown_container,
#medicine_dose_dropdown_container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

#medicine_dose_dropdown_container {
z-index: 1;
}

[contentEditable=true]:empty:not(:focus):before {
  content: attr(data-text);
}

#active_medicine_container,
#inactive_medicine_container {
  max-height: 10rem;
  overflow: auto;
  padding: 0.2rem;
}

#inactive_medicine_container {
  margin-top: 2rem;
}

#diagnosis_container {
  position: relative;
  display: inline-block;
  width: 32%;
  float: right;
  border-left: 2px solid black;
  height: 85%;
  margin-left: 2rem;
  overflow: auto;
}

#create_medicine_container {
  height: 2rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

#create_medicine_container input,
#create_medicine_container select,
#create_medicine_container button {
  text-align: center;
  height: 100%;
}

#medicine_list_container {
  overflow-x: hidden;
  overflow: auto;
  height: 80%;
}

#medicine {
  position: relative;
  width: 100%;
  background: floralwhite;
  border: 1px solid black;
  margin-top: 0.5rem;
  padding: 0 1rem;
}

#medicine h4 {
  display: inline-block;
  width: 15%;
}

#medicine h4:last-child {
  text-align: right;
  width: 5%;
  float: right;
}

#diagnosis h4 {
  display: inline-block;
  width: 35%;
  vertical-align: top;
}

#diagnosis h4:first-child {
  width: 20%;
}

#btn_add_diagnosis {
  width: 100%;
  height: 3rem;
}

#diagnosis_list_container {
  background: floralwhite;
}

#diagnosis {
  padding: 0.5rem;
  border-bottom: 1px solid black;
}

#diagnosis:hover {
  cursor: pointer;
  background: rgb(253, 232, 191);
}

#diagnosis_container textarea {
  width: 100%;
  height: 5rem;
  padding: 0.5rem;
}

#dropdown_diagnosis_container {
  display: block;
  height: 2rem;
  position: relative;
}
