#notes_container {
  position: relative;
  vertical-align: top;
  overflow-x: auto;
  max-height: 85%;
}

#create_note_container {
  position: absolute;
  width: 50%;
  left: 20%;
  border: 1px solid black;
  z-index: 5;
  top: -2rem;
}

#create_note_container input,
#create_note_container select,
#create_note_container #create_note_btn,
#close_create_note_panel {
  height: 2rem;
  width: 100%;
  padding-left: 1rem;
  display: block;
}

#create_note_btn_container {
  width: 100%;
  display: block;
  height: 2.5rem;
}

#create_note_btn {
  float: right;
  padding: 0.5rem;
  width: 3rem;
}

#expand_notes_btn {
  padding: 0.5rem;
}

#close_create_note_panel {
  background: white;
}

#close_create_note_btn {
  height: 100%;
  background: none;
  outline: none;
  border: none;
  font-size: 1.5rem;
  float: right;
  padding-right: 0.5rem;
}

#close_create_note_btn:hover {
  color: red;
  cursor: pointer;
}

#create_note_container textarea {
}

textarea[name="create_note_content"] {
  width: 100%;
  padding: 1rem;
}

select[name="create_note_title"] {
  width: 20%;
}

.note {
  width: 100%;
  line-height: 2rem;
  background: floralwhite;
  border: 1px solid black;
  padding-left: 0.5rem;
}

.note:hover {
  cursor: pointer;
  background: rgb(253, 232, 191);
}

#note_date {
  margin-right: 2rem;
}

#note_content {
  display: none;
  border-top: dotted 1px black;
  padding-right: 7rem;
  color: red;
}

#note_content.show {
  display: block;
}
