#searchable_container {
  width: 100%;
  height: 100%;
  background: white;
  text-align: center;
}

#search_item_input {
  vertical-align: top;
  width: 100%;
  height: 100%;
  text-align: center;
}

#searchable_options_container {
  width: 95%;
  position: absolute;
  background: white;
  border-left: 1px solid black;
  border-right: 1px solid black;
  overflow: auto;
  max-height: 30rem;
}

#found_option {
  border-bottom: 1px solid black;
}

#found_option:hover {
  cursor: pointer;
  background: floralwhite;
}